.employers {
  background: #fff;
  padding: 74.24px 0 64.75px;
}

.sectionDescription {
  color: rgba(105, 105, 105, 0.8);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoList {
  display: flex;
  gap: 56.39px;
  align-items: center;
}
