.categoriesSection {
  background-color: #e4f2ff;
  padding-top: 107px;
  padding-bottom: 126px;
}

.title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 43px;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 92px;
}
