.card {
  width: 270px;
  height: 198px;
  background: #fff;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 61px 115px 0 29px;
}

.showMore {
  width: 270px;
  height: 198px;
  padding: 61px 115px 0 40px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  box-shadow: none;
  background: transparent;
}

.icon {
  margin-bottom: 20px;
}

.title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
