.hero {
  background-color: #cde7ff;
  padding: 131px 0 295px;
  position: relative;
  overflow: hidden;
}

.contentWrapper {
  position: relative;
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/rectangle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

.heading {
  font-size: 64px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.searchForm {
  display: flex;
  max-width: 1132px;
  width: 100%;
  background-color: #fff;
  filter: drop-shadow(6px 5px 9px rgba(0, 0, 0, 0.35));
}

.inputSection {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.inputWrapper {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 30px;
  overflow: hidden;
}

.icon {
  color: #000000;
  margin-right: 14px;
  flex-shrink: 0;
}

.icon[alt="Search"] {
  width: 28.3px;
  height: 22.9px;
}

.icon[alt="Location"] {
  width: 22.81px;
  height: 31.72px;
}

.inputField {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #000;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  padding: 34px 0;
}

.inputField::placeholder {
  color: #000;
  opacity: 1;
}

.inputField:focus::placeholder {
  color: transparent;
  transition: color 0.2s ease-out;
}

.centeredInput {
  justify-content: center;
  padding-left: 80px;
}

.centeredInput .inputField {
  width: auto;
  flex-grow: 0;
}

.divider {
  width: 1px;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.searchButton {
  font-family: "Raleway", sans-serif;
  background-color: #274059;
  color: #fff;
  border: none;
  padding: 0 70px;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  flex-shrink: 0;
}

.searchButton:hover {
  background-color: #2b5d8c;
}

@media (max-width: 768px) {
  .hero {
    padding: 60px 0 90px;
  }

  .heading {
    font-size: 36px;
  }

  .searchForm {
    flex-direction: column;
    align-items: stretch;
  }

  .inputSection {
    flex-direction: column;
    align-items: stretch;
  }

  .inputWrapper {
    padding: 0 15px;
    border-bottom: 1px solid rgba(184, 184, 184, 0.8);
  }

  .centeredInput {
    padding-left: 15px;
    justify-content: flex-start;
  }

  .inputField {
    font-size: 16px;
    padding: 24px 0;
  }

  .centeredInput .inputField {
    width: 100%;
  }

  .divider {
    display: none;
  }

  .searchButton {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 569px) {
  .heading {
    font-size: 28px;
    text-align: center;
  }

  .inputField {
    font-size: 14px;
  }

  .icon[alt="Search"] {
    width: 18px;
  }

  .icon[alt="Location"] {
    width: 18px;
  }
}
