*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1750px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  background: none;
  border: none;
}
